@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
*{
    box-sizing: border-box;
}
body{
    background: #fc4a1a;
    background: linear-gradient(to left ,yellow,red);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Poppins",sans-serif;
    margin:0;
    min-height: 100vh;
}
input{
    background-color:#fc4a1a ;
    border-radius: 10px;
    border: none;
    box-shadow: 0 5px 10px rgba(154,160,185,0.05),0 15px 40px rgba(0,0,0,0.1);
    color:white;
    font-family: inherit;
    font-size: 0.8rem;
    padding: 1rem;
    margin-bottom: 2rem;

}
input::placeholder{
    color:#bbb;
}
.card{
    background-color: #fc4a1a;
    background-image: linear-gradient(315deg,#f76733 0%,#fc4a1a 100%);
    border-radius: 20px;
    box-shadow:0 5px 10px rgba(154,160,185,0.05),
    0 15px 40px rgba(0,0,0,0.1);
    display: flex;
    padding:3rem;
    max-width: 800px; 
}
.avatar{
    border:10px solid #f7b733;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}
.user-info{
    color:#fff;
    margin-left: 2rem;
}
.user-info h2{
    margin-top:0 ;
}
.user-info ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    max-width: 400px;
    list-style-type: none;

}
.user-info ul li strong{
    font-size: 1rem;
    margin-right: 0.5rem;
}
.repo{
    background-color: #f76733;
    border-radius: 5px;
    display: inline-block;
    color:white;
    font-size: 0.7rem;
    padding:0.25rem 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    text-decoration: none;
}